#shippingBanner {
    background: url(../images/shipping.jpg);
    height: 30vw;
    position: relative;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3vw;
    margin-top: -116px;

    .shippingBannerBottomDeco {
        position: absolute;
        top: auto;
        bottom: -1px;
        height: 12vw;
        left: 0px;
        right: auto;
        width: 100%;
        background: url(../images/shipping-back.svg) no-repeat;
        background-size: 100% 100%;

    }
}

.para_content {
    h2 {
        color: black;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 15px;
        font-weight: 500;
    }

    h3 {
        font-size: 32px;
        line-height: 27px;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 15px;
    }

    table {
        width: 100%;
        margin-bottom: 15px;
        border-collapse: collapse;
        border-spacing: 0;
        -webkit-border-radius: 5px;
        border-radius: 5px;

        tr:first-child td {
            box-shadow: inset 0px 4px 3px -2px rgba(0, 0, 0, .06);
            border: 0 1px 1px 0;
        }

        td {
            padding: 10px;
            text-align: center;
            border-width: 1px;
            border-style: solid;
            border-color: #ebebeb;
            vertical-align: middle;
        }
    }
}
