@import url("https://p.typekit.net/p.css?s=1&k=zjh4vfv&ht=tk&f=35927.35928&a=4450526&app=typekit&e=css");@font-face {font-family:"rosarian";src:url("https://use.typekit.net/af/cd2502/00000000000000003b9b09ea/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cd2502/00000000000000003b9b09ea/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cd2502/00000000000000003b9b09ea/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");font-display:auto;font-style:normal;font-weight:400;}@font-face {font-family:"rosarian";src:url("https://use.typekit.net/af/c579af/00000000000000003b9b09eb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c579af/00000000000000003b9b09eb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c579af/00000000000000003b9b09eb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");font-display:auto;font-style:normal;font-weight:700;}.tk-rosarian{font-family:"rosarian",sans-serif;}
@font-face {
    font-family: "eagle-light";
    src: url(../webfonts/eagle-light.ttf);
}

.product_wrapper {
    margin-bottom: 70px;

    h2.product-title {
        font: normal 36px/normal 'minion 3';
    }

    .products {
        img {
            max-width: 100%;
        }

        .product {
            box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.12);
            background: #fff;
            padding: 0 10px;
            border-radius: 15px;
            transition: 100ms;
            margin-top: 40px;

            &:hover {
                transform: scale(1.025);
            }

            .image_frame {
                position: relative;

                .image_wrapper {
                    width: 100%;
                    padding-top: 100%;
                    position: relative;

                    .mask {
                        top: 0;
                        left: 0;
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                    }

                    img {
                        position: absolute;
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                        top: 15px;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: all 400ms ease-in-out 0s;
                    }

                    &:hover img {
                        top: 0;
                    }
                }
            }

            &:hover {
                box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
            }

            .desc {
                padding: 20px 0 15px;

                .star_rating {
                    font-size: 12px;
                    color: #C6A866;
                }

                h4 {
                    color: #2c1e21;
                    font-size: 20px;
                    margin-bottom: 6px;
                }

                span.price {
                    display: block;
                    font-size: 18px;
                    font-weight: 400;
                    color: #C6A866;
                }
            }

            .categoryThumbnailsContainer {
                filter: contrast(20%) brightness(1.5);
                transition: filter 300ms;

                &:hover {
                    filter: contrast(100%) brightness(1);
                }

                span {
                    color: #333;

                    span.circle {
                        width: 14px;
                        display: inline-block;
                        height: 14px;
                        border-radius: 50%;
                        position: relative;
                        border: 1px solid #000;
                        overflow: hidden;
                        margin-bottom: 2px;

                        &.circle100:after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: #000;
                        }

                        &.circle50:after {
                            content: "";
                            width: 50%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: #000;
                        }
                    }

                    .col-6 {
                        padding-bottom: 8px;
                    }

                    span.middle {
                        margin-top: 11px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}


#helperBox {
    position: fixed;
    top: 50%;
    transform: translate(0px, calc(-50% + 65px));
    right: 0px;
    z-index: 999;
    -webkit-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -o-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
    background-color: #c6a866;
    padding: 0px;
    border-radius: 25px 0px 0px 25px;

    .buylabel {
        background-color: rgb(198, 168, 102);
        color: #fff;
        font-weight: bold;
        width: 50px;
        float: left;
        height: 100%;
        position: absolute;
        overflow: hidden;
        border-radius: 25px 0px 0px 25px;
        display: block;

        .buyLabelInner {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            transform: rotate(-90deg);
            letter-spacing: 2px;
            font-size: 21px;
        }
    }

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    .product_selector_inner {
        float: right;
        border-radius: 25px 0px 0px 25px;
        margin: 3px 0px 3px 50px;
        width: calc(33vw - 50px);
        padding: 10px 20px;
        box-sizing: border-box;
        background-color: #ffffff;
        min-height: 250px;
        overflow-y: auto;
        max-height: 80vh;

        .back {
            background: #fcfcfc;
        }

        form {
            margin-bottom: 2em;

            label {
                display: block;
                margin-bottom: 5px;
                line-height: 28px;
                padding-top: 8px;
            }

            .form-control {
                background: #c6a866;
                border-radius: 22px;
                border: none;
                padding: 5px 29px 5px 8px;
            }
        }

        .single_variable_wrap {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: center;

            .quantityWrapper {
                flex: 0 0 20%;

                label {
                    display: block;
                    font-weight: 700;
                    margin-bottom: 5px;
                }
            }

            .customPriceTag {
                height: 100%;
                flex: 0 0 80%;
                text-align: right;

                p {
                    color: #4c4c4c;
                    font: 600 25px/1.1 "minion 3";
                    margin: 0;
                }
            }

            .customAddToCartButtonWrapper {
                flex: 0 0 100%;
                text-align: center;

                button {
                    margin-top: 15px;
                    padding: 7px 24px;
                    background: #9E1A16;
                    font-weight: normal;
                    color: #fff;
                }
            }
        }

        .payment {
            filter: grayscale(1);
            background: #c4c4c4;
            padding: 15px 62px;
            border-radius: 4px;
            margin-bottom: 20px;

            img {
                height: 20px;
            }
        }
    }
}

div#customerReviewsSection {
    margin: 120px 0 60px;

    h2.customerReviewsCaptions {
        font-family: "minion-pro";
        font-weight: 550;
        font-size: 18px;
        line-height: 30px;
        text-align: right;
        margin-bottom: 20px;

        .product-rating {
            display: inline-block;

            span {
                display: block;
                width: 95.2%;
                height: 30px;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .star-rating {
            display: inline-block;
            font-size: 30px;
            padding: 0 25px 0 10px;

            .stars {
                position: relative;

                &:after {
                    content: "\f005 \f005 \f005 \f005 \f005";
                    color: #a5122e;
                }
            }
        }
    }

    .reviews {
        .star-line {
            .line {
                line-height: 22px;
                margin-bottom: 8px;
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -ms-flex-align: stretch;
                align-items: stretch;
                width: 100%;

                a {
                    line-height: inherit;
                    display: inline-block;
                }

                .name {
                    font-size: 16px;
                    font-weight: 600;
                    color: #000;
                }

                .bar {
                    flex: 1 1 auto;
                    width: 1%;
                    margin: 0 20px;
                    overflow: hidden;
                    border-radius: 20px;
                    background: #cda35c;
                    height: 22px;
                    position: relative;

                    .filled {
                        width: 100%;
                        background: #a5122e;
                        position: absolute;
                        top: 0;
                        line-height: inherit;
                        left: 0;
                        display: block;
                        height: 100%;
                    }
                }

            }
        }
    }

    ul.review-list {
        height: 200px;
        overflow-y: scroll;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 15px;

            .star-rating {
                display: inline-block;
                font-size: 14px;
                padding: 0 25px 0 0px;

                .stars {
                    position: relative;

                    &:after {
                        content: "\f005 \f005 \f005 \f005 \f005";
                        color: #a5122e;
                    }
                }
            }

            p.meta {
                color: #767676;
                margin-bottom: 0;

                .author {
                    color: #000;
                    font-size: 8px;
                }

                .Verified {
                    font-size: 12px;
                    font-style: italic;
                }

                .publish_date {
                    font-size: 10px;
                }
            }

            p.ivole-verified-badge {
                font-size: 13px;
                margin-bottom: 8px;

                img {
                    height: 20px;
                }

                span.ivole-verified-badge-text {
                    img {
                        height: 13px;
                        margin-left: 10px;
                    }
                }
            }

            p.description {
                margin-bottom: 0;
            }
        }
    }
}

#schenonde {
    background: #3B3B3B;
    padding: 20px 0;
    font-family: "minion 3";
    color: #fff;

    img {
        display: block;
        width: 60%;
        margin: auto;
    }

    .schenonde-content {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        height: 100%;

        h2 {
            font-size: 28px;
            line-height: 1;
            font-weight: 600;
            margin-bottom: 5px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 15px;
        }
    }
}

#singleProductCoffeeIntroSection {
    background: url(../images/Group%205.png) no-repeat;
    margin-top: -116px;
    overflow: hidden;
    background-position: right bottom;
    display: flex;
    flex-wrap: wrap;
    min-height: 110vh;
    position: relative;
    align-content: center;

    .container-fluid {
        flex: 0 0 100%;

        .row {
            min-height: calc(100vh - 50px);
            align-items: center;
        }
    }

    h2 {
        font-size: 30px;
        line-height: 30px;
        color: #000;
        font-weight: 300;
        font-family: "minion 3";
        margin-top: 80px;
    }

    p {
        line-height: 1.5;
        margin-bottom: 40px;
    }

    h6 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .productExcerpt {
        .image {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: space-around;
            margin: 0 10%;
            margin-bottom: 40px;

            div {
                flex: 1 1 auto;
                width: 1%;
            }
        }

        h5 {
            font-size: 24px;
            line-height: 1.5;
            margin-bottom: 8px;
        }

        .rating {
            font-size: 21px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.45);

            span {
                font-size: 24px;
                color: #C78E47;
            }
        }
    }

    .packshot {
        flex-basis: 33%;
        max-width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .packshotPosition {
            height: 325px;
            position: fixed;
            width: 100%;
            top: 150px;
            text-align: center;

            img {
                max-width: 250px;
            }
        }
        .packshotPositionBottom {
            height: 325px;
            position: absolute;
            width: 100%;
            top: 150px;
            text-align: center;

            img {
                max-width: 250px;
            }
        }

    }

    .fruitSectionWrapper {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;

        .fruitElementWrapper {

            img {
                max-width: 126px;
                margin-left: 122px;
            }
        }
    }
}

#fakten {
    margin-bottom: 35px;

    .fact-box {
        display: flex;
        height: 100px;
        justify-content: center;
        align-content: center;
        flex-direction: column;

        h3 {
            font-size: 28px;
            line-height: 1.2;
            color: #000;
        }

        h4 {
            font-size: 22px;
            line-height: 1.2;
            color: #707070;
        }
    }
}

section.equipmentPortfolio {
    background: #E9E9E9;
    padding: 30px 0;
    text-align: center;

    .equipmentPortfolioContent .col {
        display: flex;
        align-items: flex-end;

        a {
            h5 {
                color: #000;
                font-size: 24px;
            }
        }
    }
}

#roesting {
    margin: 50px auto 80px;

    h2.translate {
        margin: auto;
    }
}

#origin {
    background: url(../images/Group%20477.svg) no-repeat;
    background-size: cover;

    .origin-inner {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        min-height: 100vh;

        .container-fluid {
            flex: 0 0 100%;

            .Indonesia-kalossi {
                max-width: 650px;
                background: rgba(255, 255, 255, 0.9);
                border: 1px solid #000;
                border-radius: 35px;
                padding: 30px 45px;
                text-align: center;
                margin-bottom: 35px;

                h3 {
                    color: #CDA359;
                    font-size: 50px;
                    margin: auto;
                }

                p {
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.3;
                }
            }
        }
    }
}

#CuppingResults {
    padding: 30px 0;
    background: url(../images/Group%2010.png) no-repeat;
    background-position: -170px 110px;

    h3 {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 15px;
        font-weight: bold;
        color: #000;
        font-family: "monion 3";
    }

    p.description {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 50px;
    }

    .choclate {
        margin-bottom: 70px;
    }

    .block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        img {
            max-width: 100px;
        }

        h5 {
            font-size: 24px;
            line-height: 1.5;
        }
    }

    .aroma {
        h4 {
            font: 500 44px/1.2 "eagle-light";
            margin-bottom: 15px;
        }

        h6 {
            font: 400 24px/normal "eagle";
            margin-bottom: 15px;
        }

        .ranking {
            padding-top: 15px;

            .bubble {
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                align-items: center;

                .bubbleScoreBubble {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    border: 1px solid #040405;

                    &.hascontent {
                        width: 45px;
                        height: 45px;
                        line-height: 56px;
                        font-size: 45px;
                        text-align: center;
                        font-family: "Rosarian";
                    }
                }
            }
        }
    }

    p.bar-notice {
        font-size: 18px;
        text-align: center;
        margin-top: 50px;
    }
}

h2.translate {
    text-align: center;
    line-height: normal;
    height: 120px;
    //    margin-top: 50px;
    margin-bottom: 20px;

    span {
        display: inline-flex;
        font-size: 85px;
        font-family: "Rosarian";
        justify-content: center;
        transform: rotate(-7.67deg);
    }
}


@media screen and (max-width: 991px) {
    #origin .origin-inner {
        min-height: 50vh;

        .container-fluid .Indonesia-kalossi {
            margin-left: auto;
            margin-right: auto;
        }
    }

    #helperBox {
        position: relative;
        top: 0;
        transform: translate(0);
        margin-bottom: 20px;
        z-index: 0;
        max-width: calc(100% - 15px);
        margin: 20px 0 20px auto;

        .product_selector_inner {
            width: auto;
            max-height: 100%;
        }
    }

    #schenonde img {
        width: auto;
        margin-bottom: 20px;
    }

    #singleProductCoffeeIntroSection {
        min-height: 90vh;

        .container-fluid {
            .row {
                min-height: 1px;
            }
        }

        .packshot {
            flex-basis: 100%;
            max-width: 100%;

            .packshotPosition {
                position: static;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .aroma {
        margin-bottom: 20px;
    }

    section.equipmentPortfolio .equipmentPortfolioContent .col {
        flex: 0 0 100%;
        justify-content: center;
        align-items: center;
    }

    #fakten .fact-box {
        height: 70px;

        h3 {
            line-height: 1;
            font-size: 22px;
            margin: 0;
        }

        h4 {
            font-size: 16px;
            margin: 0;
        }
    }

    #CuppingResults {
        background: transparent;
    }
}

@media screen and (max-width: 480px) {
    div#flavorScoreMainRightContainer {
        max-width: 75%;
        margin: auto;
    }

    h2.translate {
        height: 85px;

        span {
            font-size: 50px;
        }
    }
}
