@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

#agbanner {
    position: relative;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3vw;
    margin-top: -116px;
    height: 30vw;
    background-image: url(../images/agbanner.jpg);

    #agbBannerBottomDeco {
        position: absolute;
        top: auto;
        bottom: -1px;
        height: 12vw;
        left: 0px;
        right: auto;
        width: 100%;
        background: url(../images/agbannerbottom.svg) no-repeat;
        background-size: 100% 100%;
    }
}

section.account {
    h2 {
        font-weight: 500;
        letter-spacing: 0px;
        font-size: 25px;
        line-height: 1;
        font-family: "minion pro";
        margin-bottom: 15px;
    }

    .login-form {
        border: 1px solid #d3ced2;
        padding: 20px;
        margin: 2em 0;
        text-align: left;
        border-radius: 5px;

        form {
            label {
                font-weight: 600;
            }

            .input-group {
                .form-control {
                    border-right: 0;
                }

                .input-group-append {
                    position: relative;
                    border: 1px solid #ced4da;

                    i {
                        line-height: inherit;
                        line-height: 36px;
                        padding: 0 10px;
                        display: inline-block;
                    }
                }
            }

            button.btn-white {
                line-height: 44px;
                padding: 0 24px;
                border-radius: 4px;
                font-size: 16px;
            }

            .line-height {
                line-height: 44px;
            }
        }
    }

    #siteMovedNotice {
        text-align: center;
        max-width: 800px;
        margin: 15px auto;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.7) inset;
        padding: 55px 10px 30px 10px;

        h6#siteTitle {
            color: #c6a866;
            font-family: Montserrat, sans-serif;
            font-size: 34px;
            line-height: 38px;
            font-weight: 300;
            margin-bottom: 24px;
        }

        p {
            font-family: Montserrat, sans-serif;
            font-size: 22px;
            color: rgb(63, 78, 92);
            font-weight: 100;
            margin-bottom: 18px;
        }

        .popupResetPassword {
            text-align: center;
            padding: 10px;

            a.btn-white {
                font-family: arial;
                margin-bottom: 15px;
                line-height: 38px;
            }
        }

        #questionsAndProblems {
            font-family: "Minion 3";
            font-size: 15px;
            color: rgb(153, 153, 153);
            text-align: center;
        }
    }

    .main-side-nav {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            a {
                background: #ffffff;
                border: 1px solid rgba(0, 0, 0, 0.04);
                color: #858585;
                display: block;
                margin-bottom: 5px;
                padding: 10px;
            }

            &.is-active {
                a {
                    background: #c6a866;
                    color: #fff;
                }
            }
        }
    }

    .woocommerce-account {
        border: 1px solid rgba(0, 0, 0, .1);
        margin: 0 -1px 24px 0;
        text-align: left;
        width: 100%;
        border-collapse: separate;
        border-radius: 5px;

        tr {
            th {
                border: none;
                border-width: 0 1px 1px 0;
                background: none;
                box-shadow: inset 0px 4px 3px -2px rgba(0, 0, 0, .04);
                text-align: center;
                vertical-align: middle;
                font-weight: 700;
                padding: 10px;
                color: #444;
                line-height: 1.5em;

                &:last-child {
                    border-right: none;
                }
            }

            td {
                box-shadow: inset 0px 4px 3px -2px rgba(0, 0, 0, .06);
                padding: 10px !important;
                border: none;
                border-top: 1px solid rgba(0, 0, 0, .1);
                line-height: 1.5em;
                vertical-align: middle;
                text-align: center;

                a.button {
                    border-radius: 22px;
                    padding: 11px 20px;
                    display: inline-block;
                    cursor: pointer;
                    text-decoration: none;
                    overflow: visible;
                    box-shadow: inset 0 0 0 0;
                    transition: all .3s;
                    font-weight: 400;
                    line-height: 25px;
                    background: rgb(218, 159, 86);
                    white-space: nowrap;
                    border: 2px solid #c6a866;
                    color: #fff;

                    &:hover {
                        background: #c6a866;
                    }
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    .woocommerce-Message {
        border-radius: 5px;
        margin-bottom: 30px;
        padding: 20px;
        position: relative;
        border: none;

        &:before {
            content: "\f019";
            font-family: "Font Awesome 5 Free";
            font-size: 30px;
            color: rgba(0, 0, 0, .4);
            -webkit-border-radius: 5px;
            border-radius: 5px;
            height: 60px;
            left: 10px;
            line-height: 60px;
            text-align: center;
            width: 60px;
            display: inline-block;
            margin-right: 10px;
        }

        &:after {
            clear: both;
            display: block;
            content: "";
        }

        &.woocommerce-Message--info {
            background: #ffe38b;
            color: #9b812e;

            &:before {
                background: #fbda72;
            }
        }

        a.button {
            border: 2px solid #c6a866 !important;
            color: #fff;
            margin: 14px 0;
            padding: 0;
            background: none;
            box-shadow: 0 0 0 0 transparent;
            float: right;
            border-radius: 22px;
            line-height: 2;
        }
    }

    .mein-account.address {
        .clearfix {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            h3 {
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                width: 1%;
            }
        }

        address {
            position: relative;
            background: rgba(0, 0, 0, 0.02);
            font-size: 110%;
            line-height: 160%;
            padding: 15px 15px 15px 80px;

            &:after {
                content: "";
                width: 60px;
                height: 100%;
                border-width: 0 1px 0 0;
                border-style: solid;
                border-color: rgba(0, 0, 0, .1);
                background: rgba(0, 0, 0, 0.02);
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
            }

            &.f0dc:before {
                content: "\f0dc";
            }

            &:before {
                content: "\f077";
                width: 60px;
                height: 100%;
                line-height: 53px;
                font-size: 25px;
                position: absolute;
                text-align: center;
                //background: rgba(0, 0, 0, .03);
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
            }
        }
    }
}

a.button {
    display: inline-block;
    transition: all .3s;
    font-weight: 400;
    line-height: 25px;
    background: rgb(218, 159, 86);
    border: 2px solid #c6a866;
    color: #fff;
    padding: 11px 20px;
    border-radius: 22px;

    &:hover {
        background: #c6a866;
    }
}

span.required {
    color: red;
    font-weight: 700;
}

form.woocommerce-EditAccountForm.edit-account {
    label {
        font-weight: 700;
        display: block;
    }

    .form-control {
        box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.02);
    }

    .input-group {
        .form-control{
            border-right: none;
        }
        .input-group-text {
            background: #fff;
            border-left: none;
        }
    }
    button.btn-white{
        padding: 11px 20px;
        border-radius: 4px;
        line-height: 22px;
        font-size: 16px;
    }
}


@media screen and (max-width: 767px) {
    #agbanner {
        margin-top: -72px;
        height: 50vh;
    }

    section.account .woocommerce-account {
        thead {
            display: none;
        }

        tbody {
            tr {
                display: block;

                td {
                    display: block;
                    text-align: right;

                    &:before {
                        content: attr(data-title) ": ";
                        font-weight: 700;
                        float: left;
                    }
                }
            }
        }
    }
}
