//@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

.inner_content_banner {
    margin-top: -116px;
    position: relative;

    .inner_content_banner_content {
        position: absolute;
        width: 100%;
        bottom: 100px;
        left: 0;

        h1 {
            font-size: 42px;
            line-height: 1;
            color: #fff;
            letter-spacing: 2px;
        }
    }
}

.breadcums {
    padding: 12px 0;
    background: #faf7f2;

    ul.breadcum {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: start;
        align-items: center;

        li {
            color: #777474;

            &:not(:last-child):after {
                content: "/";
                display: inline-block;
                padding: 0 8px;
            }

            a {
                color: inherit;
                font-family: "poppins", sans-serif;
                display: inline-block;

                span {
                    font-size: 18px;
                }
            }
        }
    }
}

.choose_coffee {
    padding: 80px 0 110px;

    .coffee-list {
        h2.title {
            font-size: 35px;
            font-weight: 600;
            color: #000;
            margin-bottom: 15px;
        }

        p.description {
            font-size: 15px;
            color: #777474;
            margin-bottom: 25px;
        }

        .title-box {
            background: #f8f8f8;
            padding: 6px 20px;
            font-size: 15px;
            line-height: 33px;
            margin-bottom: 15px;
            font-family: "poppins", sans-serif;
            color: #323030;

            img {
                margin-right: 10px;
            }
        }

        .coffee_selection {
            .coffee_selection_header {
                h3 {
                    font-size: 15px;
                    color: #050505;
                    line-height: 1.5;
                    font-weight: 400;
                    border-bottom: 1px solid #cfba97;
                    margin-bottom: 15px;
                    margin-top: 30px;
                }
            }

            .coffee_selection_box {
                margin-top: 40px;
                text-align: center;
                border: 1px solid #f6f1f1;
                border-radius: 15px;
                padding: 25px 0;
                background: #fdfbfb;

                img {
                    margin-bottom: 40px;
                    transition: .3s all ease-in-out;
                }

                h5 {
                    font: 14px/1.5 "poppins", sans-serif;
                    color: #2b3031;
                    max-width: 70%;
                    margin: auto;
                    transition: .3s all ease-in-out;
                }

                &:hover {
                    background: transparent;
                    border-color: #cfba97;

                    img {
                        margin-top: -15px;
                        margin-bottom: 55px;
                    }

                    h5 {
                        color: #ba8e45;
                    }
                }
            }
        }
    }

    .right_sidebar {
        border: 1px solid #cfba97;
        border-radius: 4px;

        .heading {
            h2 {
                font-size: 25px;
                letter-spacing: 1px;
                padding: 13px 10px;
                background: #cfba97;
                color: #fff;
            }
        }

        p {
            line-height: 1.5;
            padding: 0 10px 10px;
            font-family: "poppins", sans-serif;
            border-bottom: 1px solid #cfba97;
            margin: 0;
        }

        .sidebar_inner {
            padding: 5px 10px 40px;

            .feat_box {
                display: flex;
                flex-wrap: wrap;
                justify-content: start;
                align-items: center;
                margin-top: 30px;

                img {
                    margin-right: 20px;
                }

                .feat_inner_text {
                    flex: 1 1 auto;
                    width: 1%;
                    color: #a8864e;
                    font-family: "poppins", sans-serif;
                    background-image: linear-gradient(to right, #a8864e 33%, rgba(255, 255, 255, 0) 0%);
                    background-position: bottom;
                    background-size: 4px 1px;
                    background-repeat: repeat-x;
                    line-height: 1.5;
                    padding-bottom: 4px;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .coffee_selection {
        margin-bottom: 30px;
    }

    section.inner_content_banner {
        img {
            min-height: 50vh;
            object-fit: cover;
        }

        .inner_content_banner_content {
            bottom: 30px;
        }
    }
}

@media screen and (max-width: 767px) {
    .choose_coffee {
        padding: 30px 0;
    }
}
